;
; Supervisord configuration for consul
; {{ ansible_managed }}
;
; Notes:
;   stopsignal = INT is used to gracefully leave the cluster.
;   https://www.consul.io/docs/agent/basics.html
;

[program:consul]
command={{ consul_home }}/bin/consul agent -config-file={{ consul_config_file }} -config-dir={{ consul_config_dir }}
user={{ consul_user }}
group={{ consul_group }}
numprocs={{ supervisor_program_numprocs|default(1) }}
autostart={{ supervisor_program_autostart|default("true") }}
autorestart={{ supervisor_program_autorestart|default("unexpected") }}
startsecs={{ supervisor_program_startsecs|default(10) }}
startretries={{ supervisor_program_startretries|default(3) }}
stopwaitsecs={{ supervisor_program_stopwaitsecs|default(10) }}
exitcodes={{ supervisor_program_exitcodes|default("0") }}
stopsignal={{ supervisor_program_stopsignal|default("INT") }}
stdout_logfile_maxbytes={{ supervisor_program_logfile_maxbytes|default('10MB') }}
stdout_logfile_backups={{ supervisor_program_logfile_backups|default(4) }}
stderr_logfile_maxbytes={{ supervisor_program_logfile_maxbytes|default('10MB') }}
stderr_logfile_backups={{ supervisor_program_logfile_backups|default(4) }}
environment=
  GOMAXPROCS="{{ (ansible_processor_cores > 1) | ternary(ansible_processor_cores, 2) }}"
